body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.header {
    background-color: aqua;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header .search {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header .account {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header .welcome {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar {
    background-color: saddlebrown;
    grid-column: 1 / 2;
}